@*
    
*@
@{
}
<section class="container-fluid my-4" >
    <form method="post" class="col-12 d-flex flex-column align-content-center rounded bg-dark text-light">
        <label class="m-4">Titre de votre annonce</label>
        <input class="mb-4 mx-4" type="text"/>
   

       <div class="dropdown  mb-4 mx-4">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
             Animaux
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><p class="dropdown-item" href="#">Chiens</p></li>
            <li><p class="dropdown-item" href="#">Chats</p></li>
            <li><p class="dropdown-item" href="#">Oiseaux</p></li>
          </ul>
        </div>
         <label class="mx-4 my-2" for="Description">Descriptif</label>
        <input   class="mx-4" name="Description" type="text"/>

        <label  class="mx-4 my-2" for="Price">Prix</label>
        <input  class="mx-4" name="Price" type="text"/>
         
        <div class="col-12 d-flex flex-row justify-content-around my-4 ">
            <div class="col-8 d-flex flex-row flex-nowrap">
        <button class="col-4 mx-2 btn-secondary rounded">Photos Annonce </button>
        <button  class="col-4 btn-secondary rounded">Ajout Certificat PDF </button>
        </div>
        <input  class="col-3 btn-outline-success bg-success disabled text-light rounded" type="submit" value="Valider"/>
        </div>
         </form>
</section>

<section class=" text-warning text-center" >
    <p>Message</p>
</section>