@model lebonanimal.Models.Product;
@{
    ViewData["Title"] = "Home Page";
}

            <div class="row container-fluid h-50 ">
                <div class="col-10 d-flex justify-content-center h-50 mb-3 mt-3 flex-nowrap flex-row ">
                         <div class="dropdown">
                      <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Animaux
                      </a>

                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item">Chiens</a></li>
                        <li><a class="dropdown-item">Chats</a></li>
                        <li><a class="dropdown-item">Oiseaux</a></li>
                      </ul>
                    </div>

                        <input placeholder="Barre de recherche" />
                         <div class="dropdown">
                      <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Trier par:
                      </a>

                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item">+ancien</a></li>
                        <li><a class="dropdown-item">+récent</a></li>
                        <li><a class="dropdown-item">-cher</a></li>
                         <li><a class="dropdown-item">+cher</a></li>
                      </ul>
                    </div>
                                    
                 </div>
              </div>
                       
            <section class=" d-flex flex-row justify-content-between m-2">
                <a class="card d-flex flex-row justify-content-between  col-10 bg-dark text-light" >
                    <div class=" overflow-hidden w-25 border "><img src="~/img/annonces/chat.jpg" class="img-thumbnail h-100 bg-dark  border-0" alt="...">
                        </div>
                    <div class="card-body text-center h-100 d-flex flex-column justify-content-center">
                        <h5 class="card-title border border-secondary ">Card title</h5>
                        <p class="card-text h-50 border-bottom-2 border-secondary">desc</p>
                         <p class="">Price</p>
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                        
                        <form method="post" class="px-2">
                        <label for="Achat"></label>
                         <input type="submit" name="Achat" value="Mettre au panier" class="btn-success"/>
                        </form>
                    </div>
                </a>                  

            </section>

             
