@import url("https://bootswatch.com/5/materia/bootstrap.min.css");
html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#logo-img img
{
    max-width:250px!important;
    width:20%!important;
    height:auto!important;
}